@import url('https://fonts.googleapis.com/css?family=JetBrains Mono&display=swap');

* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: white;
    opacity: 70%;
    width: 100%;
    height: 70px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.mainBackground {
    /* background-image: url("./images/home-background.png"); */
    background-size: contain;
    background-repeat: no-repeat;
    background: no-repeat center/100% url("./images/home-background.png");
    height: 700px;
}

@font-face {
    font-family: 'jetbrains mono';
    src: url('./components/JetBrainsMono-Regular.ttf');
}

@font-face {
    font-family: 'nico moji';
    src: url('./components/NicoMoji.ttf');
}

@font-face {
    font-family: 'rubik bubbles';
    src: url('./components/RubikBubbles-Regular.ttf');
}


.bubbleLabels {
    color: #6E96DB;
    position: relative;
    display: inline-block;
    margin: 10px 9px 29px 6px;
    text-align: center;
    background-color: #D3DFF4;
    padding-left: 18px;
    padding-right: 18px;
    border-color: #6E96DB;
    border-radius: 11px;
    font-family: 'nico moji';
}

.inputBubbles {
    color: rgba(99, 86, 86, 0.5);
    position: relative;
    display: inline-block;
    text-align: left;
    background-color: white;
    width: 80%;
    padding: 10px 25px 10px 25px;
    border-color: rgba(99, 86, 86, 0.5);
    border-radius: 20px;
    font-family: 'jetbrains mono';
}

.bubbleWords {
    color: #6E96DB;
}

.containerColor {
    background-color: #6E96DB;
    border: 4px solid #39397A;
}

.containerColor2 {
    border: 4px solid #39397A;
    color: #39397A
}

.containerColor3 {
    background-color: #39397A;
    border: 4px solid #6E96DB;
    color: white;
    height: 100px;
    padding-top: 10px;
}
.containerColor4 {
    background-color: #6E96DB;
    border: 4px solid #39397A;
    height: 100px;
    padding-top: 10px;
}

.space {
    height: 100px;
}

.title1 {
    color: #39397A;
    font-weight: bold;
}

.title2 {
    color: #6E96DB;
    font-weight: bold;
}


.containerColor, .bigContainerColor {
    height: 250px;
}
